<h1>New multiplication</h1>

<form action="/wizard_mult">
<label for="form_first_num">Multiply this: </label>
<input id = "form_first_num" name = "first_num">
<label for = "form_second_num">by this: </label>
<input id = "form_second_num" name = "second_num">
<button>Multiply!</button>

</form>
